<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
         version="3.0">

    <display-name>TaskManager</display-name>

    <!-- Define qual arquivo abre por padrão quando acessa o site -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Páginas de erro -->
    <error-page>
        <error-code>404</error-code>
        <location>/login</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/login</location>
    </error-page>

</web-app>
